<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>    
    <add key="HDAS_SERVICE_IP" value=""/>
    <add key="PROQUEST_SEARCH_URI" value=""/>
    <add key="EBSCO_SEARCH_URI" value=""/>
    <add key="OVID_SEARCH_URI" value=""/>
  </appSettings>
  <runtime>
  
  <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  <dependentAssembly>
    <assemblyIdentity name="FSharp.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-4.3.1.0" newVersion="4.3.0.0" />
  </dependentAssembly>
</assemblyBinding></runtime>
</configuration>
